*.pyc
*.nfs*
*.egg-info
build
*.csv
*.pyd
*.log
!docs/
docs/*
!docs/source/
dist/*
wheelhouse/*
*.doctree
*.envrc
env/*
.tox/*
*/PKG-INFO
*.so
.venv/*
\.venv/
.vagrant/*
.pytest_cache/*
reports/*-py*
.coverage
reports/*
*.c
.env
.vscode
reports/*
test-reports/*
Pipfile